<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Chuppy : expose yourself to the world" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/grid.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/widgets.css">

    <title>Chuppy</title>
  </head>

  <body>

    <div class="header">
      <div class="container">
        <div class="sponsors">
          <small>sponsored by</small>
          <h3><a href="mailto:info@ivantomic.com/">you maybe?</a></h3>
        </div>

        <h1>Chuppy</h1>
        <h2>expose yourself to the world</h2>

      </div>

      <a href="https://github.com/LogIN-/chuppy"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>

    </div>

    <div class="container">

      <p>
      Chuppy allows you to easily share and organize your files and data without messing with DNS and firewall settings.
      </p>

      <p>
      Chuppy enables you to collaborate with your team members and provides flexible communication platform.
      </p>

      <h2>quickstart</h2>

      <p>
      Download Chuppy and start it!
      </p>

      <div class="highlight"><pre>https://github.com/LogIN-/chuppy</pre></div>

      <p>Windows</p>

      <p>Linux</p>

      <p>MacOS</p>

      <div class="highlight"><pre>Open Source MIT License</pre></div>

      <p>When you start and stop Chuppy, you will see it reflected in the active count below.</p>

      <div class="row">
        <div class="half">
          <h3>Chuppis</h3>
          <div id="user-count" class="flip-counter"></div>
        </div>
      </div>

      <h2>other cool stuff</h2>
      <h3><i class="fa fa-lock"></i> Secure https for all tunnels</h3>
      <h3><i class="fa fa-desktop"></i> Show your work to anyone</h3>
      <h3><i class="fa fa-cloud"></i> No 3rd party persons</h3>
      <h3><i class="fa fa-globe"></i> No cloud servers</h3>

      <h2>developers</h2>
      <p>
      See the <a href="https://github.com/LogIN-/chuppy">github page</a> for info on API.
      </p>

    </div>

    <div class="footer">
      <div class="container">
        <p>Chuppy is maintained by LogIN</a></p>
      </div>
    </div>

    <script src="/js/index.js"></script>

  </body>
</html>
